absl-py==0.15.0
astunparse==1.6.3
clang==5.0
click==8.0.3
colorama==0.4.4
dearpygui==1.1.1
ffmpeg-python==0.2.0
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glfw==2.4.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.41.1
h5py==3.1.0
imgui==1.4.1
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.21.4
opencv-python==4.5.4.60
opt-einsum==3.3.0
PyMySQL==1.0.2
PyOpenGL==3.1.5
PySDL2==0.9.9
scenedetect==0.5.6.1
SQLAlchemy==1.4.27
tensorboard==2.7.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
tqdm==4.62.3
